.daj{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; 
}
.screen1{
    width: 100%; height: 15svh;background-color: white;
}
.Header{
    width:97%; height:85%;
    border:2px solid black;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold; display:flex; flex-direction: row;
    overflow: hidden;
}
.H_sec1{
    width:16%;
    height:100%; color:#fbbc42;
    font-size: 2rem;
    cursor: pointer;
}
.welcome{
    font-size: 1.8rem; color:#2d8a4c; font-weight: bold;
}
.Cart,.Wishlist{
    width:50%; height:50%;
    border-radius: 50%; font-size: 2rem;
}
.Cart:hover,
.Wishlist:hover {
    border: 2px solid black;;
}
.H_sec2{
    width:70%;
    height:100%;
}
.H_sec3,.H_sec4{
    width:7%;
    height:100%;
    color:#fbbc42; cursor:pointer;
    font-size: 1.5rem;
}
.H_sec3.daj {
  cursor: pointer;
  transition: color 0.2s;
}

.H_sec3.daj:hover {
  color: green;
}

.Need{
    width:100%;
    height:7svh;
    background-color: gold;
    display:flex;
    justify-content: end;
    align-items: center;padding-left: 10%;
}
.Need button{
    width:8%;
    height:30px;
    border:2px solid #2d8a4c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:2%;
}

@media (min-width: 320px) and (max-width: 374px) {
  .screen1{
    width: 100%; height: 10svh;
  }
  .H_sec1{
    width:10%;
  }
  .H_sec2{
    width:80%;
  }
  .H_sec3,.H_sec4{
        width:5%;
        font-size: 0.8rem;
  }
  .welcome{
        font-size: 0.7rem;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
    .screen1{
    width: 100%; height: 10svh;
    }
    .H_sec1{
    width:5%;
    }
    .H_sec2{
    width:90%;
    }
    .H_sec3,.H_sec4{
        width:5%;
        font-size: 1rem;
    }
    .welcome{
        font-size: 0.9rem;
    }
    .Cart,.Wishlist{
    width:70%; height:70%;
    font-size: 1.2rem;
    }
}
@media (min-width: 425px) and (max-width: 767px) {
    .screen1{
    width: 100%; height: 12svh;
    }
    .H_sec1{
    width:6%;
    }
    .H_sec2{
    width:89%;
    }
    .H_sec3,.H_sec4{
        width:5%;
        font-size: 1rem;
    }
    .welcome{
        font-size: 1.1rem;
    }
    .Cart,.Wishlist{
    width:70%; height:70%;
    font-size: 1.2rem;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .screen1{
    width: 100%; height: 13svh;
    }
    .H_sec1{
    width:10%;
    }
    .H_sec2{
    width:84%;
    }
    .H_sec3,.H_sec4{
        width:6%;
        font-size: 1.3rem;
    }
    .welcome{
        font-size: 1.5rem;
    }
    .Cart,.Wishlist{
        font-size: 1.6rem;
    }
}
@media (min-width: 1024px) and (max-width: 1439px) {
    .welcome{
        font-size: 1.8rem;
    }
    .Cart,.Wishlist{
        width:50%; height:50%;
        font-size: 1.8rem;
    }
}














/* .Uses{
    width: 100%;
    height: 85svh;
    background: linear-gradient(to bottom right,#51c63f, #44B333, #1d7e2b, #165D1B);
    display: flex;   flex-direction: column;   justify-content: space-evenly;
}
.First1{
    width:97%; height:75%; 
    display:flex; flex-direction: row;
}
.F1{
    width:65%; height:100%;
    background-color: white;
    flex-direction: row; border-radius: 20px;
}
.F_heading{
    width:100%; height:15%;
    color:#2d8a4c;
    font-weight: bold; font-size: 1.8rem; display: flex;  justify-content: start; align-items: center;
}
.F_heading_text {
  padding-left: 20px;
}
.F_Matter{
    width:100%; height:70%;
    font-size: 1.1rem; text-wrap: wrap;
}
.F_mat{
    width:97%;
    height:100%;
}
.F_button{
    width:100%;
    height:15%;
    display:flex; justify-content: start; align-items: center;
    position: relative;
}
.F_btn{
    width:15%; height:65%;
    background-color: #2d8a4c;
    border-radius: 20px;
    position: absolute; left:20px; color:white;
    font-size: 18px; cursor:pointer; font-weight: bold;
}
.F2{
    width:35%; height:100%;
    display: flex; justify-content: center; align-items: center;
}
.Circle1{
    width:70%; height:80%;
    background: linear-gradient(to bottom right,#51c63f, #44B333, #1d7e2b, #165D1B);
    border-radius: 50%;
    border: 5px solid white;
}
.Circle2{
    width:80%; height:80%;
    background-color: white;
    border-radius: 50%;
}
.small-lottie {
  width: 85%; height: 85%;
} */



/* .Indetail{
  width: 100%;  height: 100svh;
  background-color: white;
  overflow: hidden;  position:relative; flex-direction: row;
}
.Box{
    position: fixed;
    width:40%; height:100%; 
    background: linear-gradient(to bottom left,#51c63f, #44B333, #1d7e2b, #165D1B);
    transform: rotate(40deg); position:absolute;  top:-250px; left:-25px;
}
.Why{
    position:fixed;   width:95%; height:75%;
    background-color: #fbbc42;
    transform: rotate(-90deg);
    position: absolute;  bottom:100px;  left:-20px;
}
.head{
    transform: rotate(50deg);
    font-size: 2.3rem;
    color:white;
    position: absolute;
    top:50%; left:5%; font-weight: bold;
}
.heading{
    width:40%;  height:100%;
}
.heading1{
    width:60%;  height:100%;
    flex-direction: column;
    justify-content: space-evenly;
}
.Info{
    width:75%; height:20%;
    flex-direction: row;
    justify-content: space-around;
}
.img_circle{
    width:15%; height:80%;
    border-radius: 50%;
    border:2px solid #fbbc42;
}
.img_circle img {
  width: 100%; height: 100%;
  border-radius: 50%;
}
.img_matter{
    width:75%; height:90%;
    font-size: 0.8rem;
    border-radius: 10px;
    border:2px solid black;
} */



/* .category{
  width: 100%;  height: 120svh;
  background-color: white;
  position:relative; flex-direction: column;
}
.Offer_bg{
    width:95%;
    height:30%;
    background-color: mediumpurple;
    position: relative;
}
.Offer_bg img{
    width: 100%; height: 100%;
    display: block;
}
.img_txt{
    width:80%; height:80%;
    font-size: 5.3rem; position: absolute; 
    top: 10%;  left: 10%; 
    font-weight: bold;
    color: transparent;
  -webkit-text-stroke: 3px white;
}
.Offer_txt{
    width:95%;
    height:65%;
    justify-content: space-around;
    flex-direction: row;
}
.T1{
    width:25%;
    height:60%;
    background-color: white;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    position:relative;
    overflow:hidden;
    border: 3px solid #1d7e2b;
    border-radius: 5%;
}
@keyframes shake {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(3deg); }
  40% { transform: rotate(-3deg); }
  60% { transform: rotate(3deg); }
  80% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}
.T1:hover{
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.4);
    animation: shake 0.4s ease-in-out infinite;
}
.t1_head{
    width:100%;
    height:15%;
    font-size: 1.2rem;
    font-weight: bold;
    color:#1d7e2b;
}
.types{
    width:100%; height:85%;
    background-color: white;
    flex-direction: column; justify-content: space-evenly;
}
.Point{
    width:100%;  height:20%;
    flex-direction: row;
}
.P_circle{
    width:10%; height:75%;
    background-color:#fbbc42;
    border-radius: 50%;
    font-size: 1.2rem;
    color:white;
}
.P_txt{
    width:60%; height:90%;
    border-radius: 5px;
    font-size: 1.1rem;
}
.t1_img {
  width: 45%; height: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: -10%; left: -10%;
  opacity: 0; transform: scale(0.5);
  transition: all 1s ease-in-out;
}
.t1_img img{
    width:100%;  height:100%;
    border-radius: 50%;
}
.T1:hover .t1_img {
  opacity: 1;
  transform: scale(1);
} */



/* .dim-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1049;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 23%;
    max-width: 70vw;
    height: 100%;
    background-color:gold;
    color: white;
    padding: 15px;
    z-index: 1050;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar.open {
    transform: translateX(0);
}

.slide-in {
    will-change: transform;
}
.side_bg{
    width:100%;
    height:100%;
    background-color: white;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.side_heading, .side_text, .filter{
    width:90%;
    height:6%;
    font-size: 1.2rem;
    padding-left: 5%;
    padding-top: 1%;
    font-weight: bold;
}
.filter{
    color: black;
}
.side_heading{
    border-top:3px solid #1d7e2b;
    color: gold;
}
.side_text{
    cursor: pointer;
    color: #1d7e2b;
}
.side_text.selected {
  background-color: #e0ffe0;
  font-weight: bold;
  border-left: 4px solid green;
  color: #2e7d32;
} */


/* .screen2{
  width: 100%;
  height: fit-content;
  background: linear-gradient(to bottom right,#51c63f, #44B333, #1d7e2b, #165D1B);
  display: flex;   flex-direction: column;   justify-content: space-evenly;
  overflow-x: hidden;
}
.fertilizer-card {
  width: 90%;height: 250px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.fertilizer-card:hover {
  transform: scale(1.08);
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.4);
}
.one{
    width:100%;
    height:5%;
    background-color: gold;
}
.two{
    width:80%;
    height:70%;
}
.two img{
    width:80%;
    height:80%;
}
.card_detail{
    width:100%;
    height:25%;
    display: flex;
    flex-direction: row;
}
.nameprice{
    width:80%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.three{
    width:100%;
    height:50%;
    font-size: 0.9rem;
    color:black;
    font-weight: bold;
}
.four{
    width:100%;
    height:50%;
    font-size: 0.9rem;
    color:black;
    font-weight: bold;
}
.heart{
    width:20%;
    height:100%;
    font-size: 1.3rem;
    color:gold;
    cursor:pointer;
    transition: color 0.3s ease;
}
.heart.liked {
  color:#44B333;
} */



/* .screen3{
  width: 100%;
  height: 100vh;

   position: fixed;
   top: 0;
  left: 0;
}
.screen3 img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.img_details {
  position: absolute; 
  top: 5%;
  left: 10%;
  width: 80%;
  height: 90%;
  border: 3px groove black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8); 
  box-shadow: 0 10px 10px rgba(93, 93, 93, 0.5);
  flex-direction: column;
  overflow: hidden;
}
.arrow{
    width:100%;
    height: 10%;
    display:flex;
    flex-direction: row;
}
.arr_box{
    width:10%;
    height:100%;
    background-color: white;
    font-size: 1.7rem;
    color:gold;
    cursor:pointer;
}
.content{
    width:100%;
    height:75%;
    display:flex;
    flex-direction: row;
}
.matter{
    width:80%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.m_heading{
    width:100%;
    height:10%;
    display:flex;
    flex-direction: row;
}
.name{
    width:30%;
    height:100%;
    color:black;
    font-weight: bold;
    font-size: 1.1rem;
}
.text{
    width:70%;
    height:100%;
    color:black;
    font-weight: bold;
    font-size: 1.1rem;
}
.pimage{
    width:20%;
    height:100%;
    display:flex;
    flex-direction: column;
}
.photo{
    width:100%;
    height:70%;
}
.photo img{
    width:85%;
    height:90%;
    border: 2px solid black;
    border-radius: 10px;
}
.order{
    width:100%;
    height:15%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.place{
    width:50%;
    height:100%;
    justify-content: space-around;
}
.Buy,.Add2Cart{
    width:40%;
    height:50%;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid gold;
    background-color:white;
    color:gold;
    cursor: pointer;
} */

/* .Quantity{
    width:100%;
    height:15%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.Qt,.inc,.num,.dec{
    width:20%;
    height:100%;
    font-size: 1rem;
    font-weight: bold;
}
.inc,.dec{
    cursor:pointer;
}
.Total{
    width:100%;
    height:15%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.total{
    width:30%;
    height:100%;
    font-size: 1rem;
    font-weight: bold;
}
.amount{
    width:35%;
    height:100%;
    font-size: 0.8rem;
    font-weight: bold;
} */

/* .screen4{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: fit-content;
  background: linear-gradient(to bottom right,#51c63f, #44B333, #1d7e2b, #165D1B);
  display: flex;   flex-direction: column;   justify-content: space-evenly;
  overflow-x: hidden;
  overflow-y: auto;
}
.wishlist-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
.wishlist-title {
  flex-grow: 1;
  text-align: center;
}
.text-center{
    color:white;
    font-size: 1.4rem;
    font-weight: bold;
} */



/* .Buy_bg {
  position: fixed; 
  top:0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index:999;
  border-radius: 10px;
}
.base1{
    width:15%;
    height:90%;
    background-color: white;
    display:flex;
    flex-direction: column;
    border-top:2px solid black;
    border-bottom:2px solid black;
    border-left:2px solid black;
}
.cross{
    width:20%;
    height:10%;
    cursor:pointer;
}
.Order_img{
    width:100%;
    height:50%;
}
.base2{
  width: 60%;
  height: 90%;
  background-color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url("../assets/Leaves.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top:2px solid black;
  border-bottom:2px solid black;
  border-right:2px solid black;
}
.Rect{
    width:100%;
    height:8%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.Rect1,.Rect2{
    width:30%;
    height:7%;
    font-size: 1.2rem;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
}
.Rect2{
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    border: 3px solid #51c63f;
}
.key{
    width:25%;
    height:100%;
    font-size: 1.2rem;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
}
.value{
    width:60%;
    height:100%;
    background-color: white;
}
.value input,
.value textarea,
.value select {
  width: 100%;
  height: 100%;
  border: 2px solid #c2c0c0;
  font-size: 1rem;
  font-weight: bolder;
}
.payment-options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 5px;
  gap: 15px;
}
.payment-options label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.payment-options input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-options input[type="radio"]:checked {
  border: 2px solid black;
}
.payment-options input[type="radio"]::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #51c63f;
  display: none;
}
.payment-options input[type="radio"]:checked::before {
  display: block;
} */



/* .CART{
    position: fixed; 
  top:0;
  left: 0;
    width:100%;
    min-height: 100svh;
    height:fit-content;
    background-color: #fbbc42;
    justify-content: space-evenly;
    flex-direction: column;
}
.phrase {
    width: 90%;
    min-height: 60px; 
    background-color: white;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 20px;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    font-weight: bold;
    color: #333;
    position: relative;
}

.phrase_bag{
    font-size: 1.5rem;
    color:#51c63f;
    padding-left: 10px;
}
.cart_prod {
  width: 100%; 
  height: auto; 
  max-width: 500px; 
  min-height: 150px;
  border-radius: 10px;
  background-color: white;
  border: 3px solid rgb(194, 190, 190);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.c_image {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f5f5f5;
}
.c_image img {
  width: 90%;
  height: auto;
  object-fit: contain;
}
.c_details {
  width: 65%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.c_name {
  display: flex;
  font-size: 1rem;
  margin-bottom: 4px;
}
.c_key {
  font-weight: bold;
  margin-right: 6px;
}
.c_value {
  display: flex;
  align-items: center;
  gap: 10px;
}

.c_value button {
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #51c63f;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.c_value button:hover {
  background-color: #51c63f;
  color:white;
}

.Delete {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.Grand{
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 20px;
} */

/* .proceed-btn {
  background-color: #51c63f;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.proceed-btn:hover {
  background-color: #3da12d;
} */


